*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: #e7e9f0; 
    /* background-image: linear-gradient(to bottom right, #e7e9f0, #535f80); */
    
}
.card{
    margin-top: 5%;
    padding: 10px;
    background-color: #e7e9f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}